@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using WebSite503020BlazorWASM.Shared
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Index</PageTitle>

@if (isLoggedOn == true)
{
    <h1>Calculadora 50/30/20</h1>
    <p>A regra 50/30/20 é uma forma simples de dividir seus gastos e equilibrar suas finanças apenas dividindo seu rendimento por categorias de despesas essenciais, pessoais e financeiras.</p>
    <label>Rendimento líquido</label>
    <input type="number" />
    <details title="opa">Rendimento líquido é o valor total de dinheiro que você recebe todo mês, seja de forma ativa, passiva ou ambas</details>
}


@code {
    private bool isLoggedOn;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            isLoggedOn = true;
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}